.App {
  font-family: sans-serif;
  text-align: center;
}
div.spinner {
  height: 21px;
  width: 21px;
  margin: 0 20px;
  border-radius: 50%;
  border: dashed 5px #000000;
  -webkit-animation-name: loader-spin;
  animation-name: loader-spin;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
@-webkit-keyframes loader-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
